.subscription-button {
    min-width: 400px;
    display: flex;
    flex-direction: row;
    /* justify-content: left; */
    margin: 10px;
    border-color: lightgrey;
}

img {
    width: 80px;
    height: 80px;
}

p {
    margin: 5px;
    text-align: left;
}

.larger-font {
    /* margin: 5px;
    text-align: left; */
    font-size: 1.6em;
    /* justify-items: left; */
}

.smaller-font {
    font-size: 1.2em;
}

.wrapper {
    /* These should be in a column */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: left;
    width: 400px;
}

