.subscriptions-list {
    border-width: 2px;
    /* border-color: green; */
    border-style: solid;
    border-radius: 6px;
    padding: 10px;
    margin: 10px;
}

.buttons-list {
    display: flex;
    flex-direction: column;
}
