/*Need to create LHS column for buttons list, RHS box for details; above this is search and header/welcome/whatever*/

.main-layout {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.left-window-side {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* align-items: stretch; */
    flex: 0.6;
}

.right-window-side {
    /* justify-content: left; */
    flex: 1;
}

h3 {
    margin: 10px;
}